.mainTitle {
  font-size: 30px;
  margin-bottom: 16px;
  text-align: center;
  color: #007bff;
  padding: 15px;
  background-color: #bce8f1;
  border-color: #bce8f1;
  border-radius: 8px;
}

.title {
  font-size: 20px;
}
